<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CSE 6242 - Yelp Recommender</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<link rel="stylesheet" href="../static/main.css">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 20%; left:10%; height: 50%; width: 50%; }
</style>
</head>
<body>
  <center><h3>CSE 6242 Final Project - Yelp-Trained Restaurant Recommendations</h3></center>
  <!-- <form action="http://3.239.19.207:5000/api/getLocationsBasedOnZipcode" method="get"> -->
  <form onsubmit="return updateMap()" id="zipForm">
    <label for="zipcode">Enter the zipcode you would like to search in:</label>
    <input type="text" id="zipcode" name="zipcode"><br><br>
    <button type="submit">Submit</button>
  </form>

  <div id="searchConfirmation" class="indent"></div>

  <div id="map"></div>
  <script>
  	  mapboxgl.accessToken = 'pk.eyJ1IjoianBoaWxpcG9zZTMiLCJhIjoiY2tuM3k2dTBmMWM2MTJwbzhsZzQwMXN4aCJ9.uGgJiraPNEWlG0d25SYJLg';
      var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
      });

      function updateMap() {
        // first call api/getLocationsBasedOnZipcode to get resturants
        var zip = document.getElementById("zipForm").elements[0].value;
        document.getElementById("searchConfirmation").innerHTML = "Generating recommendations for " + zip + "... this may take a while.";

        itemList = ""

        axios.get('http://127.0.0.1:5000/api/getLocationsBasedOnZipcode', {
          params: {
            zipcode: zip
          }
        }).then(function (response) {
            // console.log(response);
            data = response["data"]
            for (let key in data) {
              // console.log(key, data[key]);
              itemList = itemList + data[key] + ",";
            }
            // console.log(typeof itemList)
            itemList = itemList.slice(0, -1)

        // then call api/getReccomendations
            n_results = 5
            axios.get('http://127.0.0.1:5000/api/getReccomendations', {
              params: {
                users: "b_-AmmH9I3lvhU7PANjFrw,OhOgtmlIWSmikT25wcWBpA,8q7-9Lv6NTlOLqnm5Yk0hg,94u9RZbO2AKAGV-sXLjX4w",
                items: itemList,
                n: n_results
              }
            }).then(function (response2) {
                console.log(response2["data"]);
                recs = response2["data"]

                mapboxgl.accessToken = 'pk.eyJ1IjoianBoaWxpcG9zZTMiLCJhIjoiY2tuM3k2dTBmMWM2MTJwbzhsZzQwMXN4aCJ9.uGgJiraPNEWlG0d25SYJLg';
                var map = new mapboxgl.Map({
                  container: 'map', // container id
                  style: 'mapbox://styles/mapbox/streets-v11', // style URL
                  center: [-84.389400, 33.776810], // starting position [lng, lat]
                  zoom: 13 // starting zoom
                });

                colorList = ["#39A96B", "#56B870", "#74C67A", "#99D492", "#BFE1B0"];
                colorIndex = 0;
                for (let key in recs) {
                  // console.log(recs[key]["longitude"][0])
                  var marker1 = new mapboxgl.Marker({color: colorList[colorIndex]})
                    .setLngLat([recs[key]["longitude"][0], recs[key]["latitude"][0]])
                    .setPopup(new mapboxgl.Popup().setHTML("<h1>"+ recs[key]["name"][0] + "</h1>"))
                    .addTo(map);
                  colorIndex++;
                }

                document.getElementById("searchConfirmation").innerHTML = "Displaying recommendations for " + zip + ".";
            })

        })



        // now update map with location markers and new center
        mapboxgl.accessToken = 'pk.eyJ1IjoianBoaWxpcG9zZTMiLCJhIjoiY2tuM3k2dTBmMWM2MTJwbzhsZzQwMXN4aCJ9.uGgJiraPNEWlG0d25SYJLg';
        var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/streets-v11', // style URL
          center: [-84.389400, 33.776810], // starting position [lng, lat]
          zoom: 11 // starting zoom
        });
        return false; // need to return false to prevent page refresh

      }
  </script>

  <div>

  </div>

</body>
</html>
