<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CSE 6242 - Yelp Recommender</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<link rel="stylesheet" href="../static/main.css">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 20%; left:10%; height: 50%; width: 50%; }
</style>
</head>
<body>
  <center><h3>CSE 6242 Final Project - Yelp-Trained Restaurant Recommendations</h3></center>
  <form action="http://3.239.19.207:5000/api/getLocationsBasedOnZipcode" method="get">
  <!-- <form onsubmit="return updateMap()" method="get" id="zipForm"> -->
    <label for="zipcode">Enter the zipcode you would like to search in:</label>
    <input type="text" id="zipcode" name="zipcode"><br><br>
    <button type="submit">Submit</button>
  </form>

  <div id="searchConfirmation" class="indent"></div>

  <div id="map"></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoianBoaWxpcG9zZTMiLCJhIjoiY2tuM3k2dTBmMWM2MTJwbzhsZzQwMXN4aCJ9.uGgJiraPNEWlG0d25SYJLg';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-84.389400, 33.776810], // starting position [lng, lat]
      zoom: 11 // starting zoom
    });

    document.getElementById("searchConfirmation").innerHTML = "Displaying recommendations for " + zip;
  </script>

  <div>

  </div>

</body>
</html>
